@import "tailwindcss";

@plugin "daisyui" {
  theme: nord --default black --prefersdark;
}
@plugin "daisyui/theme" {
  name: "black";
  default: true;
  --color-primary: "rgb(29, 155, 240)";
  --color-secondary: "rgb(24, 24, 24)";
}
@plugin "daisyui/theme" {
  name: "nord";
  default: true;
  --color-primary: "rgb(29, 155, 240)";
  --color-secondary: "rgb(24, 24, 24)";
}
